
	.clr{
		clear: both;
		width: 0px;
		height: 0px;
	}
	#contain{
		width: 1002px;
		border: solid 1px black;

	}
	#header{
		background: gray url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497284836654&di=0bbefb0c1738e1ef416a5a45d97954bc&imgtype=0&src=http%3A%2F%2Fpic27.nipic.com%2F20130218%2F6225159_140716189386_2.jpg);
		height: 128px;
		width: 1002px;
	}
	#nav li{
		background: white;
		width: 90px;
		margin-right: 1px;
		float: left;
	}
	a{
		font-size: 16px;
		font-family: "微软雅黑"；
		color:blue;
		/*display:block;*/
		width: 100px;
		height: 37px;
		text-align: center;
	}
	a:hover{
		color: yellow;
		background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497286395395&di=e48b7f944f13f4167adfbb980d689c57&imgtype=0&src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201401%2F02%2F20140102125508_jNNjB.jpeg);
	}
	img{
		width: 50px;
		height: 60px;
	}
	#main{
		height: 480px;
	}
	#lside{
		width:694px; 
		border: 1px solid gray;
		float: left;
	}
	.four{
		width: 326px;
		height: 200px;
		margin: 10px;
		background: #EEE;
		float: left;
	}
	.four img{
		width: 150px;
		height: 140px;
		float: left;
		margin-left: 10px;
		padding: 6px;
		background: white;
	}
	.four ul{
		margin-left: 5px;
		float: left;
	}
	.four li{
		background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497803503182&di=bbc3e17f4ba7fe4fdc0f6ddbfe44c37c&imgtype=0&src=http%3A%2F%2Fpic28.photophoto.cn%2F20130905%2F0044040962312488_b.jpg) no-repeat;
		background-size: 10px 10px;
		background-position: 0px 5px;
		padding-left: 10px;
		height: 30px;
	}
	.four a{
		color: yellow;
		text-decoration:none;
	}
	.four a:visited{
		color: green;
	}
	.four h2{
		font-size: 14px;
		font-family: Microsoft Yahei,SimHei,sans-serif;
		margin: 10px 0px 6px 10px;
	}
	.subtitle{
		height: 37px;
		background: green url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497793368265&di=f17e9ea75d7d875c4f8a9d090be8a24c&imgtype=0&src=http%3A%2F%2Fwww.wyzu.cn%2Fuploadfile%2F2013%2F0603%2F20130603123553228.jpg);
		background-size: 100px 37px;
	}
	.subtitle img{
		width: 20px;
		height: 20px;
		margin: 8px 0px 0px 10px;
		float: left;
	}
	.subtitle h1{
		font-size: 16px;
		font-family: Microsoft Yahei,SimHei,sans-serif;
		margin-left: 10px;
		float: left;
	}
	.subtitle a{
		font-size: 12px;
		color: gray;
		float: right;
	}
	#rside{
		width: 294px;
		float: right;
	}
	#art{
		background: #EEE;
		padding-top: 1px;
		margin-bottom: 1px
	}
	/*#art li{
		height: 10px;
		background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497803503182&di=bbc3e17f4ba7fe4fdc0f6ddbfe44c37c&imgtype=0&src=http%3A%2F%2Fpic28.photophoto.cn%2F20130905%2F0044040962312488_b.jpg) no-repeat;
		background-size: 10px 10px;
		padding-left: 10px;
		height: 30px;
		background-position: 20px 7px;
	}*/
	#art a{
		display: block;
		height: 10px;
		background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497803503182&di=bbc3e17f4ba7fe4fdc0f6ddbfe44c37c&imgtype=0&src=http%3A%2F%2Fpic28.photophoto.cn%2F20130905%2F0044040962312488_b.jpg) no-repeat;
		background-size: 10px 10px;
		padding-left: 10px;
		height: 30px;
		background-position: 20px 7px;
	}
	/*#art li:hover{
		background: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3750252994,1253804705&fm=26&gp=0.jpg);*/
	}
	#contact{
		margin-top: 1px;
		height: 277px;
		border:2px solid red;
		background: #EEE；
	}
	#footer{
		height: 120px;
		background: black;
	}



